<div class="container mt-5">
    <section id="existing-trade-settings">
        <h2>Existing Trade Settings</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Symbol</th>
                <th>Rate GPM</th>
                <th>Use?</th>
                <th>Quantity</th>
                <th>Quantity Stop Loss</th>
                <th>Time Update</th>
                <th>Rate Above Avg</th>
                <th>Applied Time Window</th>
              </tr>
            </thead>
            <tbody>
              <!-- Sample data, replace with actual data from your database -->
              <tr>
                <td>1</td>
                <td>user123</td>
                <td>ABC</td>
                <td>1.50</td>
                <td>Yes</td>
                <td>100</td>
                <td>50</td>
                <td>20240519</td>
                <td>2.00</td>
                <td>15mins</td>
              </tr>
              <tr>
                <td>2</td>
                <td>user456</td>
                <td>XYZ</td>
                <td>2.00</td>
                <td>No</td>
                <td>200</td>
                <td>100</td>
                <td>20240519</td>
                <td>3.00</td>
                <td>15mins</td>
              </tr>
              <!-- Add more rows for additional data -->
            </tbody>
          </table>
        </div>
        <app-paging></app-paging>
      </section>
    
    <section id="add-new-trade-setting">
      <h2>Add New Trade Setting</h2>
      <form>
        <div class="mb-3">
          <label for="userid" class="form-label">User ID</label>
          <input type="text" class="form-control form-control-sm" id="userid" name="userid">
        </div>
        <div class="mb-3">
          <label for="symbol" class="form-label">Symbol <small></small></label>
          <input type="text" class="form-control form-control-sm" id="symbol" name="symbol">
        </div>
        <div class="mb-3">
          <label for="rate_gpm" class="form-label">Rate GPM <small>(Lệnh chốt lời khi % rate > giá mua vào)</small></label>
          <input type="number" step="0.01" class="form-control form-control-sm" id="rate_gpm" name="rate_gpm">
        </div>
        <div class="mb-3">
          <label for="use_yn" class="form-label">Use? <small>(Sử dụng hay không)</small></label>
          <select class="form-select form-select-sm" id="use_yn" name="use_yn">
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity <small>(Số lượng coin đặt vào lệnh)</small></label>
          <input type="number" step="0.01" class="form-control form-control-sm" id="quantity" name="quantity">
        </div>
        <div class="mb-3">
          <label for="quantity_stop_loss" class="form-label">Quantity Stop Loss <small>(Đóng lệnh khi giá giảm tới mức)</small></label>
          <input type="number" step="0.01" class="form-control form-control-sm" id="quantity_stop_loss" name="quantity_stop_loss">
        </div>
        <div class="mb-3">
          <label for="rate_above_avg" class="form-label">Rate Above Avg <small>(% lớn hơn avg điều kiện mua vào)</small></label>
          <input type="number" step="0.01" class="form-control form-control-sm" id="rate_above_avg" name="rate_above_avg">
        </div>
        <div class="mb-3">
          <label for="applied_Time_Window" class="form-label">Applied Time Window <small>(Khung thời gian để lấy giá trung bình)</small></label>
          <input type="text" class="form-control form-control-sm" id="applied_Time_Window" name="applied_Time_Window" value="15mins">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
    </section>
  </div>
  