<app-header></app-header>

    <router-outlet></router-outlet>
    <!-- <app-table-template [isPaging]="true" [tableConfig]="config" [data]="data"></app-table-template> -->

<app-footer></app-footer>
<ngx-loading [show]="show"></ngx-loading>
<app-auto-login class="d-none"></app-auto-login>