/*
|-------------------------------------------------------------
| File: style.css
| Project: CryptoEX
| License: Themeforest Licence
| Themeforest JouveLab: https://themeforest.net/user/jouvelab
| This file is part of CryptoEX.
|-------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    background: #f9faff;
    overflow-x: hidden;
    margin-top: 65px;
    font-size: 11px;
}
iframe body{
    margin: 0;
}
.crypt-dark{
    background: rgba(21, 24, 36, 1);
}
.crypt-dark .icon-big{
    color: #fff;
}
.crypt-dark .input-group select{
    background: #131a33;
    border: 1px solid #2f3a56;
}
ul {
    list-style: none;
}
.crypt-dark h1,
.crypt-dark h2,
.crypt-dark h3,
.crypt-dark h4,
.crypt-dark h5,
.crypt-dark h6,
.crypt-dark p,
.crypt-dark a{
    color: rgba(255, 255, 253, 0.9);
}
.crypt-dark .sweet-alert h2 {
    color: rgba(21, 24, 36, 0.88);
}
.crypt-dark-segment{
    background: #131722;
}
.crypt-deepblue-segment{
    background: #131a33;
}
body.crypt-dark .input-group-text{
    color: #e9ecef;
    text-align: center;
    white-space: nowrap;
    background-color: #0e162d;
    border: 1px solid #2f3a56;
    border-radius: 0;
}
body.crypt-dark .form-control {
    color: #ffffff;
    background-color: #0e162d;
    background-clip: padding-box;
    border: 1px solid #2f3a56;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-group {
    position: relative;
}
.form-text-oninput {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    color: rgba(124, 152, 177, 1);
    align-items: center;
}
.form-note {
    font-size: 12px;
    font-weight: 500;
    color: #8094ae;
    font-style: italic;
    display: block;
}
.form-note-group {
    display: flex;
    justify-content: space-between;
    margin-top: .4rem;
    margin-bottom: -.15rem;
    padding: 0 .2rem;
    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 253, 0.78);
}
.bg-white{
    background: #fff;
}
g[opacity="0.3"],
g[opacity="0.4"]{
    display: none;
}
.crypt-logo {
    display: block;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
}
.crypt-logo img{
    position: relative;
    padding: 10px;
}
@media (max-width: 768px) {
    .crypt-logo {
        width: 100%;
        padding-left: 15px;
    }
}
.crypt-yellow{
    color: #f8a43e !important;
}
.crypt-green{
    color: #86d6a6 !important;
}
.crypt-red{
    color: #f7614e !important;
}
.sm-box-shadow{
    box-shadow: 0 2px 30px #f1f1f1;
}
.container-full-width{
    width: 100%;
}
.sm-gutters>.col, .sm-gutters>[class*=col-]{
    padding: 0 2px;
}
.crypt-btn{
    color: #555;
    padding: 15px 20px;
    background: #fff;
    text-decoration: none;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);

    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
.crypt-btn > i{
    font-size: 18px;
    vertical-align: text-bottom;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);

    -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
.crypt-btn:hover > i{
    padding-left: 7px;
}
.crypt-btn:hover{
    text-decoration: none;
    color: #555;
    box-shadow: 0 3px 30px #f1f1f1;
}
body.crypt-dark .crypt-btn:hover{
    box-shadow: none;
}
.crypt-button-inline{
    display: inline-block;
}
.crypt-bs-button.crypt-button-buy {
    background: #13b886;
}
.crypt-bs-button.crypt-button-sell {
    background: #fa4961;
}
.crypt-bs-button > a {
    font-weight: 600;
    color: #fff;
    font-size: 14px;
}
.crypt-bs-button > a:hover {
    font-weight: bold;
    text-decoration: none;
}
.crypt-bs-button {
    margin-top: 28px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: .15s;
    -o-transition: .15s;
    -moz-transition: .15s;
    transition: .15s;
}
.crypt-btn-green{
    background: #49c279;
    color: #fff;
}
.crypt-btn-red{
    background: #f7614e;
    color: #fff;
}
.crypt-btn-green:hover,
.crypt-btn-red:hover{
    color: #fff;
}
.crypt-bg-head{
    background: #ecf4fe;
    padding: 13px;
}
.crypt-boxed-area{
    border: 1px solid #f1f1f1;
    background: #fff;
}
body.crypt-dark .crypt-bg-head{
    background: #1f2638;
    padding: 13px;
}
body.crypt-dark .crypt-boxed-area{
    background: #131a33;
    border: none;
    color: #fff;
}
@media (min-width: 1320px) {
    .container-fluid {
        max-width: 1641px !important;
    }
}
@media (max-width: 1319px) {
    .crypt-container {
        width: 100% !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
.crypt-up{
    color: #00b7a4 !important;
}
.crypt-down{
    color: rgba(250, 73, 97, 0.9) !important;
}
.padding-left{
    padding-left: 30px;
}
.crypt-button-green-full{
    background: #49c279;
    color: #fff;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 20px;
    transition: all 0.4s ease;
}
.crypt-button-green-full:hover{
    background: #34a560;
    text-decoration: none;
    color: #fff;
}
.crypt-button-red-full{
    background: #f7614e !important;
    border: none !important;
    color: #fff;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 20px;
    transition: all 0.4s ease;
}
.crypt-button-red-full:hover{
    text-decoration: none;
    color: #fff;
    background: #ca3a28;
}
.crypt-mega-dropdown-menu{
    position: relative;
}
.crypt-mega-dropdown-menu a.crypt-mega-dropdown-toggle{
    color: #666;
    display: inline-block;
    font-weight: 600;
    padding: 25px 20px;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    border-right: 1px solid #ddd;
}
.crypt-mega-dropdown-menu a.crypt-mega-dropdown-toggle i{
    font-weight: 600;
}
.crypt-mega-dropdown-menu a.crypt-mega-dropdown-toggle:hover{
    text-decoration: none;
}
.crypt-mega-dropdown-menu-block{
    position: absolute;
    background: #fff;
    padding: 20px;
    width: 550px;
    box-shadow: 0 7px 17px rgba(0,0,0,0.08);
    top: 76px;
    opacity: 0;
    display: none;
    transition: all 0.4s ease;
    border: 1px solid #f1f1f1;
}
.crypt-mega-dropdown-menu-block.shown{
    opacity: 1;
    display: block;
}
.crypt-mega-dropdown-menu-block:after{
    position:absolute;
    content: '';
    z-index: -1;
    top: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: 0 -2px 20px #ddd;
}
.crypt-gross-market-cap{
    margin: 3px 0 3px 0;
    border: 1px solid #2a2e39;
}
.crypt-gross-market-cap p:first-child{
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
}
.crypt-gross-market-cap p:last-child{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
}
.crypt-dark .card.card-custom {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05) !important;
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05) !important;
    background: #13171b !important;
    border: 1px solid #2a2e39;
    color: rgba(255, 255, 253, 0.7);
}
.card.card-custom > .card-body {
    padding: 2rem 1.75rem;
}
.text-hover-main:hover {
    color: #efc247 !important;
    text-decoration: none !important;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.card .profile-img {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F6F9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.5rem;
}
.navi {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.navi .navi-item {
    padding: 0;
    display: block;
    list-style: none;
    margin-bottom: 0.5rem;
}
.navi .navi-item .navi-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .7rem;
    padding: 0.25rem 0.4rem !important;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.navi .navi-item .navi-link:hover {
    background-color: rgb(41, 43, 51) !important;
    text-decoration: none !important;
}
.navi .navi-item .navi-link {
    align-items: center;
    border-radius: 0.4rem;
    font-weight: 500;
    outline: 0 !important;
}
.navi .navi-item .navi-link.active {
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    border: 1px solid rgba(242, 189, 14, 0.075) !important;
}
.navi .navi-item .navi-link .navi-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 2rem;
    flex: 0 0 2rem;
    line-height: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.navi .navi-item .navi-link:hover .navi-text {
    color: rgba(242, 189, 14, 0.8);
    text-decoration: none !important;
}
.navi .navi-item .navi-link .navi-icon svg {
    height: 22px;
    width: 22px;
}
.navi .navi-item .navi-link .navi-icon i {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    color: rgba(191, 190, 230, 0.7);
    font-size: 15px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.navi .navi-item .navi-link.active .navi-icon i {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    color: rgba(242, 189, 14, 0.8);
}
.navi .navi-item .navi-link:hover .navi-icon i {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    color: rgba(242, 189, 14, 0.8);
}
.crypt-header i:hover{
    cursor: pointer;
}
.crypt-header i.open{
    transform: translateY(-50%) rotate(0deg);
}
.crypt-heading-menu{
    list-style: none;
    padding-left: 0;
    margin: 16px 0;
}
.crypt-heading-menu li{
    margin: 0 -18px;
    padding: 0 10px;
}
.crypt-heading-menu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-right: 18px;
}
.crypt-heading-menu li:last-child{
    margin-right: 7px !important;
}
.crypt-heading-menu li a button {
    position: relative;
    display: block;
    font-size: 11px;
    padding: 6px 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.crypt-dark .crypt-heading-menu li.nav-item a.dropdown-item {
    display: inline-block;
    padding: 9px 18px;
    background-color: rgb(19, 23, 27) !important;
}
.crypt-dark .crypt-heading-menu li.nav-item .dropdown-menu {
    border: 1px solid #2a2e39;
    background-color: rgb(19, 23, 27);
    box-shadow: 0 1rem 3rem 0rem rgba(0, 0, 0, 0.2);
}
.crypt-dark .crypt-heading-menu li.nav-item .dropdown-menu:before {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    background: rgb(19, 23, 27);
    top: -6px;
    left: 20%;
    transform: rotate(45deg);
    border-top: 1px solid #2a2e39;
    border-left: 1px solid #2a2e39;
    z-index: -1;
}
.crypt-dark .crypt-heading-menu li.crypt-heading-menu-icon i {
    font-size: 16px;
    vertical-align: middle;
}
.crypt-dark .crypt-heading-menu li.crypt-heading-menu-icon {
    position: relative;
}
.crypt-dark .crypt-heading-menu li.crypt-heading-menu-icon i {
    font-size: 16px;
    vertical-align: middle;
}
.crypt-heading-menu-toggle .crypt-nav-tab ul {
    min-width: 100px !important;
    right: 0 !important;
    top: 0 !important;
    position: relative !important;
}
.crypt-heading-menu-toggle .crypt-nav-tab {
    right: unset !important;
    left: 0 !important;
}
.crypt-heading-menu-toggle .crypt-nav-tab.active {
    top: 100% !important;
}
.crypt-heading-menu-toggle .crypt-nav-tab ul li:hover * {
    color: rgb(255, 177, 115);
    -webkit-transition: .15s;
    -o-transition: .15s;
    -moz-transition: .15s;
    transition: .15s;
}
.crypt-heading-menu-toggle .crypt-nav-tab ul li {
    margin: 0;
    padding: 0  0.5rem!important;
}
.crypt-heading-menu-toggle .crypt-nav-tab li:before {
    content: "" !important;
    display: none !important;
}
.crypt-heading-menu-toggle .crypt-nav-tab ul li img {
    width: 20px;
    border-radius: 5px;
    margin-right: 5px;
}
.crypt-heading-menu-toggle .crypt-nav-tab ul li * {
    padding: 4px 0 !important;
}
.crypt-heading-menu-toggle .crypt-nav-tab ul:before {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 7px;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #2a2e39;
}
.crypt-dark .crypt-heading-menu li a button:hover {
    background-color: #c29c38;
}
.crypt-dark .crypt-heading-menu li a button {
    background-color: #efc247;
    border: 1px solid #2a2e39;
    color: #fff;
}
.crypt-dark .crypt-heading-menu li a:hover {
    color: #ff790f;
}
.crypt-dark .crypt-header{
    position: absolute;
    background: rgb(11, 34, 51);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: 55px;
    color: #fff;
}
.crypt-dark .crypt-mega-dropdown-menu{
    position: relative;
}
.crypt-dark .crypt-mega-dropdown-menu a.crypt-mega-dropdown-toggle{
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    padding: 25px 20px;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    border-right: 1px solid #202943;
}
.crypt-dark .crypt-mega-dropdown-menu a.crypt-mega-dropdown-toggle i{
    font-weight: 600;
}
.crypt-dark .crypt-mega-dropdown-menu a.crypt-mega-dropdown-toggle:hover{
    text-decoration: none;
}
.crypt-dark .crypt-mega-dropdown-menu-block{
    position: absolute;
    background: #202943;
    padding: 20px;
    width: 550px;
    box-shadow: 0 7px 17px rgba(0,0,0,0.08);
    top: 76px;
    opacity: 0;
    display: none;
    transition: all 0.4s ease;
    border: 1px solid #202943;
}
.crypt-dark .crypt-mega-dropdown-menu-block.shown{
    opacity: 1;
    display: block;
}

.crypt-dark .crypt-mega-dropdown-menu-block:after{
    position: absolute;
    content: '';
    z-index: -1;
    top: -10px;
    width: 20px;
    height: 20px;
    background: #202943;
    transform: rotate(45deg);
    box-shadow: 0 -2px 20px #0e162d;
}

.crypt-dark .crypt-gross-market-cap {
    padding: 10px 25px;
    background: #13171b;
}
.crypt-dark .crypt-gross-market-cap p:first-child{
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    color: rgba(120, 123, 134, 0.7);
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.crypt-dark .crypt-gross-market-cap p:last-child{
    color: #d8dbe2;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}
.crypt-dark .crypt-gross-market-cap .crypt-cointext {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    margin: 10px 10px;
    color: rgb(230, 232, 234);
    font-size: 15px;
    font-weight: 700;
}
.crypt-dark .crypt-gross-market-cap .crypt-cointext .coin-name {
    display: inline-flex;
    color: rgba(120, 123, 134, 0.7);
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    height: 25px;
    -webkit-box-align: center;
    align-items: center;
}
.crypt-dark .crypt-gross-market-cap .crypt-cointext .coin-body {
    display: inline-flex;
    line-height: 1;
    flex-wrap: wrap;
    /* -webkit-box-align: baseline; */
    align-items: baseline;
    height: 25px;
    padding-left: 20px;
    overflow: hidden;
    color: #d8dbe2;
}
.crypt-dark .crypt-gross-market-cap .crypt-cointext .coin-body .coin-body-lastp {
    font-size: 25px;
    font-weight: 700;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}
.crypt-dark .crypt-gross-market-cap .crypt-cointext .coin-body .coin-body-lastpc-mini {
    padding-left: 15px;
    font-size: 15px;
}
.crypt-dark .crypt-gross-market-cap .crypt-cointext .coin-body .coin-body-lastpc-mini svg {
    display: inline-block;
    width: 8px;
    height: 6px;
    margin-top: 5px;
    vertical-align: top;
}
.crypt-dark .crypt-gross-market-cap .crypt-cointext .coin-body .coin-body-lastpc-mini.crypt-down svg, .crypt-dark .crypt-gross-market-cap .crypt-cointext .coin-body .coin-body-lastpc-mini svg.rotate {
    transform: rotate(180deg);
}
.crypt-dark .crypt-normal-market-cap .crypt-cointext {
    display: inline-flex !important;
}
.crypt-dark .crypt-normal-market-cap .crypt-cointext .coin-name, .crypt-dark .crypt-normal-market-cap .crypt-cointext .coin-body {
    display: inline-flex !important;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.search-box {
    max-width: 130px;
    padding-top: 5px;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.search-box.left {
    padding-top: 2px !important;
}
.crypt-dark .dropdown-menu {
    padding: 0;
    min-width: 100%;
    color: rgba(32, 37, 42, 1);
    background-color: rgba(21, 24, 36, 1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 19px 6px rgba(26, 29, 31, 0.76);
}
.crypt-dark .search-box input:focus {
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.05);
}
.crypt-dark .crypt-header i.menu-toggle{
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 20px;
    transition: all 0.4s ease;
    transform: translateY(-50%) rotate(0deg);
}
.crypt-dark .crypt-header i:hover{
    cursor: pointer;
}
.crypt-dark .crypt-header i.open{
    transform: translateY(-50%) rotate(-180deg);
}
.crypt-dark .crypt-heading-menu{
    list-style: none;
    padding-left: 0;
    margin: 3px 0;
    height: 50px;
}
.crypt-dark .crypt-heading-menu li{
    margin: 0 -18px;
    padding: 0 10px;
}
.crypt-dark .crypt-heading-menu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-right: 16px;
    height: inherit;
}
.crypt-dark .crypt-heading-menu li.active{
}
.crypt-dark .crypt-heading-menu li a{
    text-decoration: none;
    padding: 9px 0px;
    display: table-cell;
    font-size: 11px;
    height: inherit;
    vertical-align: middle;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.crypt-bs-ilist > p {
    margin: 0;
    margin-bottom: 0.6rem;
    font-size: inherit;
    font-weight: 600;
    padding-left: 3.3%;
}
*:not(.crypt-buysell-nav) > ul.nav-tabs{
    padding: 13px 0px;
    border: none;
    background: #ecf4fe;
}
*:not(.crypt-buysell-nav) > ul.nav-tabs li{
    padding: 0 13px;
}
.crypt-table-danger{
    background: #ffedea !important;
}
.crypt-table-success{
    background: #f9fcff !important;
}
.crypt-table-hover tr:hover{
    background: #ffedea !important;
}
table td, table th{
    border: none !important;
}
.table th:last-child, .table td:last-child {
    text-align: right;
    padding-right: 4%;
}
.search-box input,
.search-box .input-group-text {
    height: 1.5rem !important;
    font-size: 12px !important;
    padding: 0.275rem 0.55rem !important;
}
.search-box .input-group-text > i {
    color: rgb(140, 144, 148);
}
.crypt-dark .crypt-type-box label {
    color: rgb(140, 144, 148);
    user-select: none;
    margin-bottom: 0;
    margin-right: 0.3rem;
    position: relative;
    vertical-align: middle;
    padding-top: 0.534rem;
}
.crypt-dark .crypt-type-box.right label {
    padding-top: 0.1rem !important;
}
.crypt-dark .crypt-type-box label input[type="radio"] {
    padding: 0;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 7px;
    bottom: 0;
    margin: auto;
    z-index: 1;
    cursor: pointer;
}
i.crypt-check-rdbt {
    display: inline-block;
    position: relative;
    top: 2.4px;
    width: 12px;
    height: 12px;
    box-shadow: rgb(19, 23, 27) 0px 0px 0px 8px inset;
    margin-right: 4px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: rgb(140, 144, 148);
}
.crypt-dark .crypt-type-box label input[type="radio"]:checked + i {
    box-shadow: rgb(19, 23, 27) 0px 0px 0px 3px inset;
    background: rgba(242, 189, 14, 1);
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.crypt-type-box {
    padding: 0 2px;
    position: relative;
    display: block;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.crypt-type-box.right {
    padding-top: 3px !important;
    position: absolute !important;
    right: 5px !important;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav a {
    display: inline-block;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav a:last-child {
    padding: 1px 3px 2px;
    position: absolute;
    left: 81%;
    user-select: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav {
    position: relative;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav:hover a:last-child,
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav a.active.show + a:not(.active) {
    border: 0.5px solid #535661;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav a:last-child i {
    position: relative;
    top: -1.5px;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav a:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0 !important;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav:hover a:first-child {
    border: 0.5px solid #535661;
    border-right: 0;
    padding: 1px 7px 2px 5px !important;
}
.crypt-dark .crypt-market-status{
    box-shadow: none;
    border: 1px solid #2a2e39;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs{
    padding: 6px 5px 4px;
    border: none;
    background: rgba(19, 23, 27, 1);
    position: relative;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li{
    padding: 2px 5px;
    user-select: none;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li a, .crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs .crypt-box-infotext p{
    position: relative;
    display: block;
    font-size: 12px;
    padding: 2px 5px 3px;
    color: rgb(140, 144, 148);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    /* -webkit-transition: .15s; */
    -o-transition: .15s;
    -moz-transition: .15s;
    /* transition: .15s; */
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs .crypt-box-infotext p {
    text-transform: capitalize !important;
    margin: 0 !important;
    left: -4px;
}
.crypt-right-tabbox {
    position: absolute;
    right: 0;
    top: 3px;
    vertical-align: middle;
}
*:not(.crypt-buysell-nav) > ul.nav-tabs .crypt-right-tabbox > li.right {
    position: relative !important;
    display: inline-block;
    top: 1px !important;
}
*:not(.crypt-buysell-nav) > ul.nav-tabs .crypt-right-tabbox > li.right:not(:first-child) {
    padding: 0;
}
*:not(.crypt-buysell-nav) > ul.nav-tabs .crypt-right-tabbox > li.right:not(:first-child) > button {
    padding-left: 0;
}
.crypt-bs-box:not(.active.show) {
    display: none;
}
.crypt-bs-box.active.show {
    display: flex;
    position: relative;
    background-color: #131a33;
    padding: 20px;
    margin-top: 3px;
    border-top: 1px solid #2a2e39;
    user-select: none;
}
#crypt-bs-bb-tilst, #crypt-bs-sb-tilst {
    height: 100%;
    margin: 0;
    position: relative;
    display: block;
    font-size: 12px;
    padding: 3px 5px 3px;
    color: rgb(140, 144, 148);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
}
body.crypt-dark #crypt-bs-bb-tilst:hover, body.crypt-dark #crypt-bs-bb-tilst.active, body.crypt-dark #crypt-bs-sb-tilst:hover, body.crypt-dark #crypt-bs-sb-tilst.active {
    background-color: rgb(41, 43, 51) !important;
    color: rgb(230, 232, 234) !important;
    border: 1px solid rgba(242, 189, 14, 1) !important;
}
body.crypt-dark #crypt-bs-bb-tilst:focus, body.crypt-dark #crypt-bs-sb-tilst:focus {
    outline: 0;
    box-shadow: none;
}
body.crypt-dark .crypt-form-buy input[type='number'], body.crypt-dark .crypt-form-sell input[type='number'], body.crypt-dark .input-group-text {
    height: 1.9rem;
    padding: 0.375rem 1.15rem 0.455rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}
.crypt-box-infotext button svg, .crypt-box-infotext button i {
    background-color: transparent;
    border: 1px solid #2a2e39;
    padding: 1px 5px 2px;
    border-radius: 3px;
    -webkit-transition: .15s;
    -o-transition: .15s;
    -moz-transition: .15s;
    transition: .15s;
}
.crypt-box-infotext button svg, .crypt-box-infotext button i {
    width: 25px;
    height: 25px;
}
.crypt-box-infotext button {
    background: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.crypt-box-infotext button svg *, .crypt-box-infotext button i {
    fill: rgb(230, 232, 234);
    color: rgb(230, 232, 234);
}
.crypt-box-infotext button i {padding: 6px 6px 5px 5px;text-align: center;}
.crypt-box-infotext:hover button svg {
    border: 1px solid rgba(242, 189, 14, 1);
    background-color: rgb(41, 43, 51);
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.right {
    position: absolute;
    right: 0;
    top: 3px;
    vertical-align: middle;
}
.crypt-tab-box > .crypt-nav-tab ul {
    min-width: 70px;
    top: 3.4em;
    right: 6.6px;
}
.crypt-news .crypt-news-item {
    display: inline-flex;
    width: 49.75%;
    align-items: center;
}
.crypt-news .crypt-news-item:hover, .crypt-news .crypt-news-item:focus {
    text-decoration: none;
}
.crypt-news .crypt-news-icon {
    padding-right: 5px;
    display: inline-flex;
}
.crypt-news .crypt-news-icon i {
    font-size: 17px;
    color: #efc247;
}
.crypt-dark .crypt-news .crypt-news-icon i {
    color: #c29c38;
}
.crypt-news .crypt-news-title {
    display: flex;
    align-items: center;
    max-width: 100%;
}
.crypt-news .crypt-news-title p {
    font-size: 13px;
    margin-bottom: 0;
    color: rgb(82, 100, 132);
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 3.2rem);
}
.crypt-news .crypt-news-title p span {
    color: rgb(128, 148, 174);
    font-weight: 400;
}
.crypt-dark .crypt-news .crypt-news-title p {
    color: rgb(221, 227, 254);
}
.crypt-dark .crypt-news .crypt-news-title p span {
    color: rgba(196, 206, 254, 0.9);
}
.crypt-dark .crypt-news .crypt-news-title p {
    color: rgba(221, 227, 254, 0.9);
}
.crypt-dark .crypt-news .crypt-news-title p span {
    color: rgba(196, 206, 254, 0.5);
}
.crypt-news .crypt-news-title .icon {
    color: #8094ae;
    margin-left: 0.25rem;
}
.crypt-dark .crypt-news .crypt-news-title .icon {
    color: #8094ae;
}
.crypt-dark .crypt-news .crypt-news-title i {
    color: #c4cefe;
}
.crypt-news .crypt-news-item:hover .crypt-news-tetitlext i {
    color: #6576ff;
}
.crypt-dark .crypt-buysell .nav-tabs {
    border-bottom: 1px solid #2a2e39;
}
.crypt-buysell .nav-tabs .nav-item {
    margin-bottom: -1px;
}
.crypt-buysell .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.crypt-buysell .nav-tabs .nav-link:hover, .crypt-buysell .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}
.crypt-buysell .nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}
.crypt-buysell .nav-tabs .nav-link.active, .crypt-buysell .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #f5f6fa;
    border-color: #dee2e6 #dee2e6 #f5f6fa;
}
.crypt-buysell .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.crypt-buysell .crypt-buysell-nav {
    margin-bottom: 20px;
}
.crypt-buysell-nav > .nav-tabs {
    margin: 0;
    font-size: 0.8125rem;
    border-bottom: 1px solid #dbdfea;
}
.crypt-buysell-nav > .nav-tabs-s2 {
    border-bottom: none;
    justify-content: center;
}
.crypt-buysell-nav > .nav-tabs+.tab-content {
    margin-top: 1.25rem;
}
.crypt-buysell-nav > .nav-tabs .nav-item {
    padding-right: 1.25rem;
}
.crypt-buysell-nav > .nav-tabs .nav-item:last-child {
    padding-right: 0;
}
.crypt-buysell-nav > .nav-tabs .nav-item.active .nav-link {
    color: rgb(242, 189, 14);
}
.crypt-buysell-nav > .nav-tabs .nav-item.active .nav-link:after {
    opacity: 1;
}
.crypt-buysell-nav > .nav-tabs .nav-link {
    padding: 1rem 0;
    font-weight: 700;
    font-family: Roboto,sans-serif,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #526484;
    position: relative;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.crypt-buysell-nav > .nav-tabs .nav-link .icon {
    font-size: 1.4em;
}
.crypt-buysell-nav > .nav-tabs .nav-link .icon+span {
    margin-left: 0.5rem;
}
.crypt-buysell-nav > .nav-tabs .nav-link .badge {
    margin-left: 0.25rem;
}
.crypt-buysell-nav > .nav-tabs .nav-link:hover {
    color: #364a63;
}
.crypt-buysell-nav > .nav-tabs .nav-link:hover, .crypt-buysell-nav > .nav-tabs .nav-link:focus {
    color: rgba(242, 189, 14, 0.7);
}
.crypt-buysell-nav > .nav-tabs .nav-link:before, .crypt-buysell-nav > .nav-tabs .nav-link:after {
    position: absolute;
    content: ''}
.crypt-buysell-nav > .nav-tabs .nav-link:after {
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    border-radius: 10px;
    background: rgba(242, 189, 14, 0.7);
    opacity: 0;
}
.crypt-buysell-nav > .nav-tabs .nav-link.active {
    color: #6576ff;
    border: none;
    background-color: transparent;
}
.crypt-buysell-nav > .nav-tabs .nav-link.active:after {
    opacity: 1;
}
@media (min-width: 768px) {
    .nav-tabs .nav-item {
        padding-right: 1.5rem;
    }
    .nav-tabs-sm .nav-item {
        padding-right: 1.25rem;
    }
}
@media (min-width: 992px) {
    .nav-tabs .nav-item {
        padding-right: 1.75rem;
    }
    .nav-tabs-sm .nav-item {
        padding-right: 1.25rem;
    }
    .nav-tabs .nav-link {
        font-size: 0.875rem;
    }
}
@media (min-width: 1200px) {
    .nav-tabs .nav-item {
        padding-right: 2.25rem;
    }
    .nav-tabs-sm .nav-item {
        padding-right: 1.25rem;
    }
}
.crypt-buysell-title {
    margin-bottom: 1.5rem;
}
.crypt-buysell-field:not(:last-child) {
    margin-bottom: 1.75rem;
}
.crypt-buysell-field.form-action {
    padding-top: .5rem;
}
.crypt-buysell-cc-dropdown {
    width: 100%}
.crypt-buysell-cc-dropdown .dropdown-indicator:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 65px;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8094ae;
    opacity: 0.5;
}
.crypt-buysell-cc-dropdown .dropdown-menu {
    top: -75px !important;
}
.crypt-buysell-cc-item {
    border-left: 1px solid #ffffff21;
    border-right: 1px solid #ffffff21;
    border-top: 1px solid #ffffff21;
}
.crypt-buysell-cc-item:last-child {
    border-bottom: 1px solid #ffffff21;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.crypt-buysell-cc-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.crypt-buysell-cc-choosen {
    display: block;
    width: 100%;
    border: 1px solid #2a2e39;
    border-radius: 4px;
    background: rgba(21, 24, 36, 1);
    text-decoration: none !important;
}
.crypt-buysell-cc-opt {
    display: block;
    text-decoration: none !important;
}
.coin-item {
    display: flex;
    align-items: center;
    padding: 16px 20px;
}
.coin-icon {
    display: inline-flex;
    flex-shrink: 0;
}
.coin-icon .icon {
    font-size: 34px;
    height: 32px;
    width: 30px;
    color: rgba(128, 148, 175, 1);
}
.coin-item[currency="btc"] .coin-icon .icon {
    color: #f06a00;
}
.coin-item[currency="eth"] .coin-icon .icon {
    color: #b1b1b1;
}
.coin-item[currency="usd"] .coin-icon .icon {
    color: #459457;
}
.coin-icon+.coin-info {
    margin-left: 12px;
}
.coin-name {
    font-size: 14px;
    color: #f9fafc;
    font-weight: 600;
    display: block;
}
.coin-text {
    font-size: 12px;
    color: #8094ae;
    display: block;
}
.crypt-buysell-pmethod-list {
    border: 1px solid #2a2e39;
    background: rgba(21, 24, 36, 1);
    border-radius: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 280px;
}
.crypt-buysell-pmethod-item {
    position: relative;
}
.crypt-buysell-pmethod-item:not(:last-child) {
    border-bottom: 1px solid #e5e9f230;
}
.crypt-buysell-pmethod-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 16px 20px 16px 60px;
    cursor: pointer;
}
.crypt-buysell-pmethod-label:before, .crypt-buysell-pmethod-label:after {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    border-radius: 50%
}
.crypt-buysell-pmethod-label:before {
    content: '';
    border: 2px solid #dbdfea;
}
.crypt-buysell-pmethod-label:after {
    content: "\f00c";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgb(222, 175, 20);
    transition: opacity .3s;
    opacity: 0;
}
.crypt-buysell-pmethod-label .pmethod-name {
    font-size: 14px;
    color: rgba(255, 255, 253, 0.78);
}
.crypt-buysell-pmethod-label .pmethod-icon {
    display: inline-flex;
    font-size: 20px;
    width: 18px;
    justify-content: center;
    align-items: center;
    color: #8094ae;
}
.crypt-buysell-cc-dropdown .dropdown-icon:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #8094ae;
    font-weight: 900;
    opacity: 0.5;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.crypt-buysell-pmethod-control {
    position: absolute;
    top: 0;
    height: 1px;
    width: 1px;
    opacity: 0;
}
.crypt-buysell-pmethod-control:checked ~ .crypt-buysell-pmethod-label {
    cursor: default;
}
.crypt-buysell-pmethod-control:checked ~ .crypt-buysell-pmethod-label:after {
    opacity: 1;
}
.crypt-buysell-overview {
    padding: 1rem 0 1.5rem;
}
.crypt-buysell-overview-list {
    border: 1px solid #dbdfea;
    border-radius: 4px;
}
.crypt-buysell-overview-list+.sub-text-sm {
    margin-top: 0.5rem;
}
.crypt-buysell-overview-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.crypt-buysell-overview-item:not(:last-of-type) {
    border-bottom: 1px solid #e5e9f2;
}
.crypt-buysell-overview-item .pmethod-currency {
    align-items: center;
    display: flex;
}
.crypt-buysell-overview-item .pmethod-currency .icon {
    font-size: 24px;
    margin-right: 0.5rem;
    color: #8094ae;
}
.crypt-buysell-field:not(:last-child) {
    margin-bottom: 1.75rem;
}
.crypt-buysell-field.form-action {
    padding-top: .5rem;
}
.crypt-bs-separator {
    border-left: 1px solid #2a2e39;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
}
body.crypt-dark .crypt-tab-box > .crypt-nav-tab > *:before {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 35px;
    right: 0;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #2a2e39;
}
.crypt-tab-box > .crypt-nav-tab li {
    padding-right: 5px !important;
}
.crypt-tab-box > .crypt-nav-tab li:first-child {
    padding-top: 4px !important;
}
.tab-content table, .tab-content .tab-pane#crypt-news ul{
    margin-bottom: 0;
    z-index: 2;
}
.tab-content .tab-pane#crypt-news ul {
    height: 349px !important;
    margin: 0;
    padding: 0;
    overflow-y: overlay;
}
.tab-content .tab-pane#crypt-news ul li {
    height: auto !important;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #2a2e39;
    cursor: pointer;
}
.tab-content .tab-pane#crypt-news ul li:hover a {
    text-decoration: none;
}
.tab-content .tab-pane#crypt-news ul li:hover {
    background-color: #242c40 !important;
}
body.crypt-dark .tab-content .tab-pane#crypt-news ul li a strong {
    color: rgb(178, 181, 190);
}
body.crypt-dark .tab-content .tab-pane#crypt-news ul li a strong {
    display: block;
    font-size: 13px !important;
    margin-bottom: 2px;
}
body.crypt-dark .tab-content .tab-pane#crypt-news ul li a > * {
    font-size: 11px;
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
}
body.crypt-dark .tab-content .tab-pane#crypt-news ul li a strong:last-child {
    font-size: 11px !important;
    font-weight: bold;
    padding-top: 2px;
}
.crypt-fixheigh-b table tbody {
    height: 246px !important;
    min-height: 320px !important;
    max-height: 320px !important;
}
.crypt-fixheigh-b td:first-child, .crypt-fixheigh-b table th:first-child {
    min-width: 130px;
    width: 130px;
    font-size: 11px;
    color: rgb(178, 181, 190) !important;
}
.crypt-fixheigh-b td:nth-child(2), .crypt-fixheigh-b table th:nth-child(2),
.crypt-fixheigh-b td:nth-child(3), .crypt-fixheigh-b table th:nth-child(3) {
    min-width: 70px;
    width: 70px;
}
.crypt-fixheigh-b td:last-child, .crypt-fixheigh-b table th:last-child {
    min-width: 42%;
    width: 42%;
    padding-right: 15px;
}
.crypt-fixheigh-b td, .crypt-fixheigh-b table th {
    min-width: 20%;
    width: 26%;
}
.tab-content .tab-pane#balance table th, .tab-content .tab-pane#balance table td {
    width: 20% !important;
    min-width: 20% !important;
}
.tab-content .tab-pane#balance table th:last-child, .tab-content .tab-pane#balance table td:last-child {
    width: 11% !important;
    min-width: 11% !important;
}
body.crypt-dark .tab-content table thead{
    background: #131722;
    color: #fff;
    display: block;
    border-bottom: 1px solid #2a2e39;
}
body.crypt-dark .tab-content table thead tr{
    cursor: none;
    background: rgba(19, 23, 27, 1) !important;
}
body.crypt-dark .tab-content table thead tr:hover{
    background: rgba(19, 23, 27, 1) !important;
}
body.crypt-dark .tab-content table tbody, .tab-content .tab-pane#crypt-news ul li{
    display: block;
    position: relative;
    height: 372px;
    overflow-y: overlay;
    background-color: #131a33;
}
body.crypt-dark .tab-content table tr:hover{
    background: #242c40 !important;
    cursor: pointer;
}
body.crypt-dark .tab-content table tr:nth-of-type(odd), body.crypt-dark .tab-content .tab-pane#crypt-news ul li a{
    color: #fff;
}
body.crypt-dark .tab-content table tr:nth-of-type(even){
    background: #11152b;
    color: #fff;
}
body.crypt-dark .crypt-table-danger{
    background: #ffedea !important;
}
body.crypt-dark .crypt-table-success{
    background: #f9fcff !important;
}
body.crypt-dark .crypt-table-hover tr:hover{
    background: #ffedea !important;
}
table td, table th, .tab-content .tab-pane#crypt-news ul li a{
    border: none !important;
}
.tab-content:not(.crypt-fixheigh-b) td:first-child, .tab-content:not(.crypt-fixheigh-b) table th:first-child {
    min-width: 100px;
    width: 20%;
}
.tab-content:not(.crypt-fixheigh-b) table td:last-child, .tab-content:not(.crypt-fixheigh-b) table th:last-child {
    width: 19%;
}
.crypt-big-data-list td {
    font-size: 12px;
    align-items: center;
    padding-top: 10px;
}
.crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) td:first-child, .crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) table th:first-child {
    width: 16%;
    font-size: 12px;
    height: 40px;
}
.crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) td:nth-child(2), .crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) table th:nth-child(2) {
    width: 18%;
    font-size: 12px;
}
.crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) td:nth-child(4), .crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) table th:nth-child(4) {
    width: 20%;
    font-size: 12px;
    text-align: center;
}
.crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) td:nth-child(6), .crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) table th:nth-child(6) {
    width: 15%;
    font-size: 12px;
    text-align: center;
}
.crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) table td:last-child, .crypt-big-data-list.tab-content:not(.crypt-fixheigh-b) table th:last-child {
    width: 18% !important;
}
body.crypt-dark table td:last-child > * {
    display: inline-block !important;
}
a.active {
    background-color: rgb(41, 43, 51) !important;
    color: rgb(230, 232, 234) !important;
    border: 1px solid rgba(242, 189, 14, 1) !important;
    padding: 1px 5px 2px !important;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li:hover a {
    background-color: rgb(41, 43, 51);
    font-weight: 700;
}
#depthchart {
    width: 100%;
    height: 350px;
}
.crypto-depth-chart-small-height{
    height: 270px !important;
}
#chartdiv {
    width: 100%;
    height: 350px;
}
.crypt-buy-sell-form > p{
    padding: 20px;
    margin-bottom: 0;
}
.crypt-buy{
    padding: 20px;
}
.crypt-sell{
    padding: 20px;
}
body.crypt-dark .crypt-buy{
    padding: 20px;
}
body.crypt-dark .crypt-sell{
    padding: 20px;
}

/*0--- market Capacity ----*/
.crypt-table-striped tbody tr:nth-of-type(even){
    background-color: #f7fbff;
}
.crypt-table-market-cap{
    background: #fff;
    font-size: 15px;
}
body.crypt-dark .crypt-table-market-cap{
    background: none;
    font-size: 15px;
    color: #fff;
}
.crypt-table-market-cap thead{
    background: #ecf4fe;
}
body.crypt-dark .crypt-table-market-cap thead{
    background: #1f2638;
}
.crypt-table-market-cap thead tr th{
    text-align: center;
    padding: 15px 0;
    vertical-align: middle;
}
.crypt-table-market-cap tbody{}
.crypt-table-market-cap tbody tr:hover{
    background: #242c40 !important
}
.crypt-table-market-cap tbody tr th{
    padding: 25px 20px;
    text-align: center;
}
.crypt-table-market-cap tbody tr td{
    padding: 25px 0;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .crypt-table-market-cap tbody tr td{
        min-width: 103px;
    }
}
.crypt-table-market-cap tbody tr td a{
    color: #555;
}
body.crypt-dark .crypt-table-market-cap tbody tr td a{
    color: #fff;
}
.crypt-table-market-cap tbody tr td:last-child{
    max-width: 120px;
    padding: 0;
}
.crypt-table-market-cap tbody tr td:last-child canvas{
    display: inline !important;
    margin-top: 15px;
}
img.crypt-market-cap-logo{
    margin-top: -3px;
}
.crypt-orderbook table tr {
    position: relative;
    display: block;
}
.red-bg-100:after, .red-bg-90:after, .red-bg-80:after, .red-bg-70:after, .red-bg-60:after, .red-bg-50:after, .red-bg-40:after, .red-bg-30:after, .red-bg-20:after, .red-bg-10:after, .red-bg-5:after, .red-bg-0:after,
.green-bg-100:after, .green-bg-90:after, .green-bg-80:after, .green-bg-70:after, .green-bg-60:after, .green-bg-50:after, .green-bg-40:after, .green-bg-30:after, .green-bg-20:after, .green-bg-10:after, .green-bg-5:after, .green-bg-0:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
}
.red-bg-100:after, .red-bg-90:after, .red-bg-80:after, .red-bg-70:after, .red-bg-60:after, .red-bg-50:after, .red-bg-40:after, .red-bg-30:after, .red-bg-20:after, .red-bg-10:after, .red-bg-5:after, .red-bg-0:after {
    background: rgba(239, 7, 83, 0.2);
}
.green-bg-100:after, .green-bg-90:after, .green-bg-80:after, .green-bg-70:after, .green-bg-60:after, .green-bg-50:after, .green-bg-40:after, .green-bg-30:after, .green-bg-20:after, .green-bg-10:after, .green-bg-5:after, .green-bg-0:after {
    background: rgba(73, 194, 121, 0.2);
}
.red-bg-100:after, .green-bg-100:after {
    width: 99%;
}
.red-bg-90:after, .green-bg-90:after {
    width: 90%;
}
.red-bg-80:after, .green-bg-80:after {
    width: 80%;
}
.red-bg-70:after, .green-bg-70:after {
    width: 70%;
}
.red-bg-60:after, .green-bg-60:after {
    width: 60%;
}
.red-bg-50:after, .green-bg-50:after {
    width: 50%;
}
.red-bg-40:after, .green-bg-40:after {
    width: 40%;
}
.red-bg-30:after, .green-bg-30:after {
    width: 30%;
}
.red-bg-20:after, .green-bg-20:after {
    width: 20%;
}
.red-bg-10:after, .green-bg-10:after {
    width: 10%;
}
.red-bg-5:after, .green-bg-5:after {
    width: 5%;
}
.red-bg-0:after, .green-bg-0:after {
    width: 1%;
}
.crypt-orderbook#crypt-orders-info {
    display: flex !important;
    flex-direction: row;
    user-select: none;
    border-top: 1px solid #2a2e39;
    border-bottom: 1px solid #2a2e39;
    height: 40px;
    position: relative;
}
.crypt-orderbook#crypt-orders-info .crypt-orders-text {
    font-size: 17px;
    vertical-align: middle;
    display: inline-table;
    margin: auto 20px;
}
.crypt-orderbook .crypt-orders-text span:not(.price) {
    font-weight: 500;
    letter-spacing: 0;
    font-size: 12px;
    position: relative;
    left: 0.5rem;
    bottom: 0.01rem;
    color: rgba(255, 255, 253, 1);
}
.crypt-orderbook#crypt-orders-info .crypt-signal svg {
    width: 15px;
    height: 15px;
}
.crypt-orderbook#crypt-order-buying tbody {
    display: flex;
    flex-direction: column-reverse;
}
.crypt-orderbook#crypt-order-buying tbody, .crypt-orderbook#crypt-order-selling tbody {
    height: 401px;
    overflow-y: hidden;
}
.cryptrade2 .crypt-orderbook#crypt-order-buying tbody, .cryptrade2 .crypt-orderbook#crypt-order-selling tbody {
    overflow-y: auto;
}
.crypt-signal.access-good {
    fill: #49c279 !important;
}
.crypt-signal.access-bad svg g path:nth-child(1), .crypt-signal.access-bad svg g path:nth-child(2) {
    fill: rgba(162, 137, 141, 0.9) !important;
}
.crypt-signal.access-bad svg g path:nth-child(3) {
    fill: rgb(233, 30, 99) !important;
}
.crypt-signal.access-normal svg g path:nth-child(1) {
    fill: rgba(162, 137, 141, 0.9) !important;
}
.crypt-signal.access-normal svg g path:nth-child(2), .crypt-signal.access-normal svg g path:nth-child(3) {
    fill: rgb(255, 152, 0) !important;
}
.crypt-orderbook#crypt-orders-info .crypt-signal {
    position: absolute;
    right: 3%;
    top: 0;
    bottom: 3px;
    margin: auto;
    display: inline-table;
}
.crypt-orderbook#crypt-orders-info .crypt-orders-text i {
    position: relative;
    right: 6px;
}
.crypt-orderbook#crypt-orders-info .crypt-orders-text .price {
    position: relative;
    bottom: 0.001rem;
}
.crypt-fulldiv-linechart{
    padding: 22px 0px 100px 0;
    text-align: center;
    position: relative;
}
.crypt-fulldiv-linechart:after{
    position: absolute;
    content: '';
    width: calc(100% - 10px);
    background: #fff;
    top: 0;
    left: 5px;
    height: 100%;
    z-index: -1;
    box-shadow: 0 3px 15px #f1f1f1;
}
body.crypt-dark .crypt-fulldiv-linechart:after{
    background: #202943;
    box-shadow: none;
}
.crypt-fulldiv-linechart h4.coinname{
    margin-top: 30px;
}
.crypt-fulldiv-linechart .crypt-individual-marketcap canvas{
    margin-left: -5px;
}
.crypt-fulldiv-linechart .coin-meta-data{
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}
.crypt-fulldiv-linechart .coin-meta-data h5 i{
    font-weight: 600;
    vertical-align: middle;
    margin-top: -5px;
}
.crypt-fulldiv-linechart .coin-meta-data h3{}
.crypt-fulldiv-linechart .coin-meta-data h6{}

.crypt-individual-marketcap iframe body{
    margin: 0;
}
.coin-meta-data h4{
    font-weight: 800;
    margin-top: 12px;
}
/*---- Slider ---*/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
}
.crypt-currency-slider{
    border: 1px solid #ecf4fe;
}
body.crypt-dark .crypt-currency-slider{
    border: none;
}
.crypt-slider-content{
    background: #fff;
    /* padding: 40px; */
}
body.crypt-dark .crypt-slider-content{
    background: #121a2f;
}
.crypt-slider-content .crypt-slider-balance{
    padding: 60px 25px 60px 36px;
    border-right: 1px solid #ecf4fe;
}
body.crypt-dark .crypt-slider-content .crypt-slider-balance{
    border-right: 1px solid #202943;
}
.crypt-slider-content .crypt-slider-balance h5{}
.crypt-slider-content .crypt-slider-balance p:first-child{}
.crypt-slider-content .crypt-slider-balance p:last-child{
    margin: 0;
}
.crypt-slider-content .crypt-slider-balance p:last-child a{
    text-decoration: none;
}
.crypt-slider-content .crypt-slider-balance p:last-child a:first-child{
    margin-right: 20px;
}
.crypt-slider-current-status{
    padding: 55px 30px;
}

/* =---- dash board ---- */
.crypt-dash-search{
    position: relative;
}
.crypt-dash-search input[type=search]{
    height: 48px;
    border: 1px solid #ecf4fe;
    width: 100%;
    background: #f9fcff;
    padding: 10px;
}
body.crypt-dark .crypt-dash-search input[type=search]{
    height: 48px;
    border: 1px solid #202943;
    width: 100%;
    background: #202943;
    padding: 10px;
    color: #fff;
}
.crypt-dash-search input[type=search]:focus{
    outline: none;
}
.crypt-dash-search button[type=submit]{
    position: absolute;
    top: 0;
    padding: 14px;
    background: transparent;
    border: none;
    right: 0;
}
.crypt-dash-search button[type=submit] i{
    font-weight: 600;
    /* right: 0; */
}
body.crypt-dark .crypt-dash-search button[type=submit] i{
    color: #fff;
    /* right: 0; */
}
.crypt-dash-search button[type=submit]:focus{}
.crypt-big-list{
    margin-top: 10px;
    padding: 0;
    margin-bottom: 0;
}
.crypt-big-list li{
    /* padding: 25px; */
    list-style: none;
    border: 1px solid #ecf4fe;
    margin-bottom: 10px;
}
body.crypt-dark .crypt-big-list li{
    border: 1px solid #2f3a56;
}
.crypt-big-list li a{
    display: block;
    padding: 30px;
    text-decoration: none;
    color: #555;
    font-weight: 800;
    font-size: 15px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
body.crypt-dark .crypt-big-list li a{
    color: #fff;
}
.crypt-big-list li a:hover,
.crypt-big-list li a:focus{
    background: #ffedea;
}
body.crypt-dark .crypt-big-list li a:hover,
body.crypt-dark .crypt-big-list li a:focus{
    background: #242c40 !important;
}
.crypt-big-list li:last-child{
    margin-bottom:0;
}
.crypt-big-list li:nth-child(odd){
    background: rgba(71, 88, 74, 0.07);
}
body.crypt-dark .crypt-withdraw-body{
    background: #131a33 !important;
    color: #fff;
    border: 1px solid #2a2e39;
}
.crypt-withdraw-body .nav-pills{
    padding: 30px 7px;
}
.crypt-withdraw-body .nav-pills a{
    font-weight: 600;
    color: #555;
    font-size: 13px;
    font-weight: 800;
}
body.crypt-dark .crypt-withdraw-body .nav-pills a{
    color: #fff;
}
body.crypt-dark .crypt-withdraw-body .nav-pills a.active{

    color: #f7614e;
}
.crypt-withdraw-body .nav-pills a.active{
    background: transparent;
    color: #f7614e;
}
.crypt-withdraw-body .nav-pills a i{
    font-weight: 600;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 8px;
}
.crypt-withdraw-body .tab-content{
    border-left: 1px solid #f1f1f1;
    padding: 30px;
}

body.crypt-dark .crypt-withdraw-body .tab-content{
    border-left: 1px solid #2f3a56;
    padding: 30px;
}
.crypt-withdraw-body .tab-content .tab-pane{}

/*---- deposit form ----*/
.deposit-form{}
.crypt-radio-boxed{
    position: relative;
    display: inline-block;
    width: 49%;
}
.crypt-radio-boxed:nth-child(odd){
    margin-right: 4px;
}
.crypt-radio-boxed input[type=radio]{
    position: absolute;
    visibility: hidden;
}
.crypt-radio-boxed label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    padding: 25px 25px 25px 56px;
    margin: 5px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    border: 1px solid #f1f1f1;
    font-weight: 600;
}
body.crypt-dark .crypt-radio-boxed label{
    display: block;
    color: #fff;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    padding: 25px 25px 25px 56px;
    margin: 5px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    border: 1px solid #2f3a56;
    font-weight: 600;
}
.crypt-radio-boxed label:hover{
    border: 1px solid #ddd;
}
.crypt-radio-boxed:hover label{
    color: #555;
}
.crypt-radio-boxed label img{
    width: 25px;
    float: right;
}
.crypt-radio-boxed .check{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 38%;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.crypt-radio-boxed:hover .check {
    border: 5px solid #888;
}
.crypt-radio-boxed .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 11px;
    width: 11px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.crypt-radio-boxed input[type=radio]:checked ~ .check {
    border: 5px solid #49c279;
}
.crypt-radio-boxed input[type=radio]:checked ~ .check::before{
    background: #49c279;
}
.crypt-radio-boxed input[type=radio]:checked ~ label{
    color: #49c279;
}
select.crypt-image-select{
    padding: 15px;
    width: 100%;
    border: 1px solid #f1f1f1;
    outline: none;
}
.crypt-dark select.crypt-image-select{
    padding: 15px;
    width: 100%;
    border: 1px solid #2f3a56;
    outline: none;
    color:#ddd;
    background: #131a33;
}
.input-text-select input[type=text]{
    border-radius: 0;
}
.input-text-select select{
    padding: 10px;
    height: 50px;
}
.input-text-select .input-group-prepend{
    width: 70%;
}
.crypt-input-lg{
    height: 50px;
}
row.md-gutter [class*='col-'] {
    padding-right: 10px;
    padding-left: 10px;
}
.tradingview-widget-container > #crypt-examplechart > div > div{
    height: 440px !important;
    width: 100%;
}
.tradingview-bigwidget-container > #crypt-examplechart > div > div{
    height: 507px !important;
    width: 100%;
}
.crypt-star{
    position: relative;
    margin-top: -4px;
    width: 13px;
}
@media (min-width: 350px) {
    .d-xs-none{
        display: none;
    }
}
@media ( max-width: 1200px ){
    .crypt-floatable-menu{
        display: none;
    }
}
@media ( max-width: 900px ){
    .crypt-radio-boxed{
        width: 98%;
    }
    .crypt-withdraw-body .nav-pills a{
        padding: 10px 0 0 10px;
    }
}
body{
    scrollbar-base-color: #C0C0C0;
    scrollbar-base-color: #C0C0C0;
    scrollbar-3dlight-color: #C0C0C0;
    scrollbar-highlight-color: #C0C0C0;
    scrollbar-track-color: #EBEBEB;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #C0C0C0;
    scrollbar-dark-shadow-color: #C0C0C0;
}
::-webkit-scrollbar {
    background: transparent;
    width: 2px;
    border-radius: 100%;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border: solid rgba(0,0,0,0) 2px;
    transition: all 0.6s ease;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #616161 !important;
}
.tooltip-inner {
    font-weight: 700 !important;
    color: white !important;
    background: #616161 !important;
    padding: 0.25rem 0.6rem 0.15rem 0.4rem !important;
}
.crypt-nav-tab {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: .15s;
    -o-transition: .15s;
    -moz-transition: .15s;
    transition: .15s;
}
.crypt-nav-tab.active {
    display: block;
}
.crypt-dark *:not(.crypt-buysell-nav) > ul.nav-tabs li.multiple-nav a:last-child i.rotate {
    transform: rotate(180deg);
    top: 1.5px;
}
.crypt-dark .crypt-nav-tab * {
    background-color: rgb(30, 29, 29);
    color: rgba(214, 212, 212, 1);
}
.crypt-nav-tab li {
    cursor: pointer;
    text-align: left;
    width: 100%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0.3em !important;
    flex: 0 0 100%;
}
.crypt-nav-tab ul {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: -0.1rem;
    min-width: 48px;
    top: 1.6em;
    z-index: 2;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
body.crypt-dark .crypt-nav-tab > * {
    border-left: 1px solid #2a2e39;
    border-right: 1px solid #2a2e39;
    border-bottom: 1px solid #2a2e39;
    border-top: 1px solid #2a2e39;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px;
}
*:not(.crypt-tab-box) > .crypt-nav-tab li:before {
    content: "\-";
    clear: both;
    padding-right: 5px;
}
.crypt-buysell-box .crypt-nav-tab.active {
    top: 35px;
    z-index: 2;
}
.crypt-buysell-cc-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.crypt-buysell-cc-choosen:hover {
    border-color: rgba(242, 189, 14, 0.7);
}
.crypt-buysell-cc-item:hover {
    border: 1px solid rgba(242, 189, 14, 0.7);
    border-radius: 4px;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.crypt-tab-box#info > .crypt-nav-tab > *:before {
    left: unset !important;
    right: 3px;
}
.crypt-tab-box#preferences > .crypt-nav-tab > *:before {
    left: unset !important;
    right: 8px;
}
.crypt-tab-box#info > .crypt-nav-tab > * {
    min-width: 240px;
    padding: 7px;
}
.crypt-tab-box#preferences > .crypt-nav-tab > p {
    min-width: 160px;
}
.crypt-form {
    font-family: Roboto,sans-serif,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: #344357;
    border: 1px solid #2a2e39;
    position: relative;
}
.safeURL {
    padding: 5px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid rgba(245, 245, 245, 0.1);
    border-radius: 10px;
    user-select: all;
    display: inline-block;
    margin: 0 auto 5px;
    width: auto;
    padding: 8px 24px;
}
.crypt-form-top {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.crypt-form .crypt-form-top:after {
    content: "";
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 1px;
    background: rgba(245, 245, 245, 0.1);
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.crypt-form:hover .crypt-form-top:after {
    width: 90px !important;
}
.safeURL > span:nth-child(2) {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    margin-left: 3px;
    color: rgb(15, 143, 98);
}
.safeURL > span:nth-child(3) {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #a3abc1;
}
.safeURL > img:first-child {
    position: relative;
    bottom: 0.1rem;
    user-select: none;
}
.crypt-form-top .info-text > p {
    color: rgb(140, 144, 148);
}
.form-group {
    position: relative;
    margin-bottom: 1.25rem;
}
.form-label-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1rem;
    color: rgb(140, 144, 148);
    align-items: center;
}
.form-label-group .right-text {
    color: rgb(9, 183, 131);
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.form-label-group .right-text:hover {
    color: rgb(15, 143, 98) !important;
}
.btn {
    position: relative;
    justify-content: center;
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
    line-height: 1.15rem;
    border-radius: 6px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.btn.btn-green {
    background-color: #0fac81;
    border-color: #0fac81;
    color: #fff;
}
.btn.btn-red {
    line-height: 45px;
    background-size: 300%,1px;
    background-position: 0;
    background-image: linear-gradient(90deg,#fa4961 0%,#901324 50%,#ff6378 100%);
    background-image: -moz-linear-gradient(90deg,#fa4961 0%,#901324 50%,#ff6378 100%);
    background-image: -ms-linear-gradient(90deg,#fa4961 0%,#901324 50%,#ff6378 100%);
    background-image: -o-linear-gradient(90deg,#fa4961 0%,#901324 50%,#ff6378 100%);
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 0 38px;
    -webkit-transition: all .25s linear 0ms;
    -khtml-transition: all .25s linear 0ms;
    -moz-transition: all .25s linear 0ms;
    -ms-transition: all .25s linear 0ms;
    -o-transition: all .25s linear 0ms;
    transition: all .25s linear 0ms;
    border-radius: 10px;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    text-transform: inherit;
}
.btn.btn-red:hover {
    background-position: -50% !important;
    border-radius: 18px;
}
.btn.btn-yellow {
    line-height: 45px;
    background-size: 300%,1px;
    background-position: 0;
    background-image: linear-gradient(90deg,#ffca39 0%,#ffda7c 50%,#ebb932 100%);
    background-image: -moz-linear-gradient(90deg,#ffca39 0%,#ffda7c 50%,#ebb932 100%);
    background-image: -ms-linear-gradient(90deg,#ffca39 0%,#ffda7c 50%,#ebb932 100%);
    background-image: -o-linear-gradient(90deg,#ffca39 0%,#ffda7c 50%,#ebb932 100%);
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 0 38px;
    -webkit-transition: all .25s linear 0ms;
    -khtml-transition: all .25s linear 0ms;
    -moz-transition: all .25s linear 0ms;
    -ms-transition: all .25s linear 0ms;
    -o-transition: all .25s linear 0ms;
    transition: all .25s linear 0ms;
    border-radius: 10px;
    display: inline-block;
    outline: none;
    white-space: nowrap;
    text-transform: inherit;
}
.btn.btn-yellow:hover {
    background-position: -50% !important;
    border-radius: 18px;
}
.crypt-form .form-itext a {
    color: rgb(9, 183, 131);
}
.crypt-form .form-itext span {
    color: rgba(140, 144, 148, 0.72);
}
.overline-title {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-left: .35rem;
    padding-right: .25rem;
    color: #b6c6e3;
    font-size: 11px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 700;
}
.overline-title:before, .overline-title:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 1px;
    content: '';
    background: rgba(245, 245, 245, 0.43);
    border-radius: 100%;
}
.overline-title:before {
    right: 100%;
}
.overline-title:after {
    left: 100%;
}
.btn.btn-light {
    color: #f9fafc;
    background: #13171b;
    border: 1px solid #2a2e39;
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    border-radius: 7px;
}
.btn.btn-light:hover {
    border-color: rgba(242, 189, 14, 0.7);
}
.markets-chart > div {
    width: 110%;
    margin-left: -16px;
}
.markets-container {
    position: relative;
    overflow: hidden;
    height: 160px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    margin-bottom: 30px;
}
.markets-chart {
    position: absolute;
    top: 40px;
    width: 100%;
    left: 0;
}
.markets-content span.green,
.markets-content span.red {
    position: absolute;
    right: 0;
    background: #86d6a6;
    color: #0b2233;
    top: 15px;
    padding: 5px 14px;
    font-size: 12px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: bold;
}
.markets-content span.red {
    background: #f7614e;
}
.markets-content h2 {
    font-size: 20px;
    top: 13px;
    position: absolute;
    left: 15px;
}
.markets-content p {
    position: absolute;
    top: 36px;
    left: 15px;
    font-size: 15px;
}
.crypt-dark .markets-container {
    background: rgb(19, 23, 27);
}
.crypt-dark .wallet-boxes .markets-container {
    background: #0b2233 !important;
}
.title-high {
    font-family: 'Poppins',sans-serif;
}
.title-high:before {
    content: "";
    clear: both;
    position: absolute;
    bottom: -40%;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(255, 255, 253, 0.15);
    width: 80px;
    height: 2px;
    border-radius: 10px;
}
.title-alt {
    display: inline-block;
    max-width: 70%;
    font-size: 15px;
    word-spacing: .05rem;
    font-family: 'Poppins',sans-serif;
}
.crypt-dark .title-alt {
    color: rgba(255, 255, 253, 0.7);
}
.analysis-temp > .widget-containers {
    display: -webkit-inline-box;
    height: 410px;
    width: 380px;
    /* background: #13171b; */
    /* border: 1px solid #2a2e39; */
    border-radius: 10px;
    margin: 0 auto;
}
.analysis-temp {
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;
}
@media (min-width: 1320px) {
    .crypt-container-less {
        max-width: 1500px !important;
    }
}
.economic-calendar > .widget-containers {
    display: block;
    width: 100%;
    height: 40rem;
    border-radius: 10px;
    margin-bottom: 3rem;
}
.crypt-dark .title-alt:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 12%;
    background: url("../images/dots.png");
    width: 112px;
    height: 112px;
    transition: all 2s ease-out 0s;
}
.contact-card-box > .contact-card-icon {
    width: 65px;
    min-width: 65px;
    height: 65px;
    line-height: 65px;
    color: #fff;
    background-color: #ffca39;
    background-image: -webkit-gradient(linear,left top,right top,from(#ffca39),to(#ffda7c));
    background-image: -webkit-linear-gradient(left,#ffca39,#ffda7c);
    background-image: -moz-linear-gradient(left,#ffca39,#ffda7c);
    background-image: -ms-linear-gradient(left,#ffca39,#ffda7c);
    background-image: -o-linear-gradient(left,#ffca39,#ffda7c);
    border-radius: 6px;
    text-align: center;
    font-size: 22px;
    position: relative;
    margin-right: 22px;
}
.contact-card-info > .contact-card-title {
    line-height: 0.75;
    margin: 0 0 16px;
    font-weight: 700;
    margin-bottom: 14px;
    font-size: 20px;
}
.contact-card-box {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Poppins',sans-serif;
    color: #f9faff;
    margin-bottom: 1.2rem;
}
.contact-card-content {
    font-size: 13px;
    line-height: 22px;
}
.contact-card-info > .contact-card-subtitle {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
}
.crypt-dark .tab-content > .active {
    background-color: transparent !important;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05) !important;
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05) !important;
    color: rgba(255, 255, 253, 0.7);
}
.crypt-dark .tab-content > .profile-pane.active {
    border: 1px solid #2a2e39;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #2a2e39;
}
.card-header > .card-title {
    display: flex;
    align-items: center;
    margin: 0.3rem;
    margin-left: 0;
    font-weight: 500;
    color: #181C32;
}
.card-header > .card-title > .card-label {
    margin: 0;
    color: rgba(255, 255, 253, 0.9) !important;
    font-size: 19px;
}
.card-header > .card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}
.card-header > .card-title > span {
    font-size: 11px;
}
.card-header > .card-toolbar > .btn {
    padding: 0.45rem 0.8rem;
    font-size: 0.8rem;
    line-height: 1.15rem;
    border-radius: 6px !important;
}
.image-input {
    display: inline-flex;
    position: relative;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-input .image-input-wrapper {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}
.image-input [data-action="change"] {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 0;
    background: #fff;
    line-height: 1rem;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
}
.image-input [data-action="change"] input {
    overflow: hidden;
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
}
.image-input [data-action="cancel"], .image-input [data-action="remove"] {
    position: absolute;
    right: -10px;
    bottom: -5px;
    padding: 0;
    background: #fff;
    line-height: 1rem;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
}
.image-input [data-action="cancel"] {
    display: none;
}
.image-input.image-input-changed [data-action="cancel"] {
    display: flex;
}
.image-input.image-input-changed [data-action="remove"] {
    display: none;
}
.image-input.image-input-empty [data-action="remove"],.image-input.image-input-empty [data-action="cancel"] {
    display: none;
}
.image-input.image-input-circle {
    border-radius: 50%;
}
.image-input.image-input-circle .image-input-wrapper {
    border-radius: 50%;
}
.image-input.image-input-circle [data-action="change"] {
    right: 5px;
    top: 5px;
}
.image-input.image-input-circle [data-action="cancel"], .image-input.image-input-circle [data-action="remove"] {
    right: 5px;
    bottom: 5px;
}
.image-input.image-input-outline .image-input-wrapper {
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
}
.input-group-prepend-custom > .input-group-text {
    height: 2.4rem !important;
    padding: 0.475rem 0.85rem 0.455rem !important;
    font-size: 0.8rem !important;
}
.history-group-table > .crypt-buysell-cc-opt {
    border-bottom: 1px solid #2a2e39;
    border-left: 1px solid #2a2e39;
    border-right: 1px solid #2a2e39;
}
.history-group-table > .crypt-buysell-cc-opt:nth-child(2) {
    border-top: 1px solid #2a2e39;
}
.crypt-buysell-field-group {
    display: table-cell;
}
.crypt-buysell-field-group.crypt-buysell-amount {
    width: 100%;
    padding-left: 3rem;
}
@media (max-width: 728px) {
    .crypt-buysell-field-group {
        display: block;
    }
    .crypt-buysell-pmethod-list {
        width: 100%;
    }
    .crypt-buysell-field-group.crypt-buysell-amount {
        padding-left: 0;
    }
}
.history-group-table .right-area {
    display: grid;
    margin-left: auto;
}
.history-group-table .right-text {
    font-weight: 500;
    font-size: 15px;
    /*This style area is totally optional for you*/
}
.history-group-table > .date {
    font-size: 12px;
    padding-top: 11px;
    padding-bottom: 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555a69;
}
.wallet-boxes .markets-container {
    height: 80px;
}
.error-bigt {
    position: absolute;
    font-size: 12em;
    font-weight: 800;
    opacity: 0.1;
    left: 0;
    top: 20px;
}
.footer {
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
    font-family: 'Poppins',sans-serifsans-serif;
}
.footer .logo-footer {
    font-size: 22px;
}
.footer .footer-head {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
.footer .foot-subscribe .form-control {
    background-color: #27314f;
    border: 1px solid #27314f;
    color: #f8f9fc;
}
.footer .foot-subscribe .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.footer .foot-subscribe.foot-white .form-control {
    color: #adb5bd;
}
.footer .foot-subscribe input::-webkit-input-placeholder {
    color: #adb5bd;
}
.footer .foot-subscribe input:-ms-input-placeholder {
    color: #adb5bd;
}
.footer .foot-subscribe input::-ms-input-placeholder {
    color: #adb5bd;
}
.footer .foot-subscribe input::placeholder {
    color: #adb5bd;
}
.footer .text-foot {
    color: #adb5bd;
}
.footer .footer-list {
    margin-bottom: 0;
}
.footer .footer-list li {
    margin-bottom: 10px;
}
.footer .footer-list li a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 13px;
}
.footer .footer-list li a:hover {
    color: #f3f3f3;
}
.footer .footer-list li:last-child {
    margin-bottom: 0;
}
.footer.footer-bar {
    padding: 30px 0;
}
.social-icon li a {
    color: #3c4858;
    border: 1px solid #3c4858;
    display: inline-block;
    height: 26px;
    width: 26px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
}
.social-icon li a .sociali {
    stroke-width: 2;
}
.social-icon li a:hover {
    background-color: #2f55d4;
    border-color: #2f55d4 !important;
    color: #ffffff !important;
}
.social-icon li a:hover .sociali {
    fill: #e9ecef;
}
.social-icon.social li a {
    color: #adb5bd;
}
.footer p {
    font-size: 12px;
    line-height: 22px;
}
.footer .payment-logos {
    max-height: 25px;
    padding: 0;
    margin: 0;
}
.list-inline-item:not(:last-child) {
    margin: 0;
    padding: 0;
}
.footer-bar-contain {
    display: block;
    position: relative;
    margin-top: -130px;
    margin-bottom: 70px;
    border-radius: 4px;
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 0px 30px rgba(30,50,60,.2);
    -khtml-box-shadow: 0 0px 30px rgba(30,50,60,.2);
    -moz-box-shadow: 0 0px 30px rgba(30,50,60,.2);
    -ms-box-shadow: 0 0px 30px rgba(30,50,60,.2);
    -o-box-shadow: 0 0px 30px rgba(30,50,60,.2);
    box-shadow: 0 0px 30px rgba(30,50,60,.2);
    z-index: 1;
}
.footer-bar-contain:after {
    content: '';
    height: 30px;
    left: 60px;
    right: 60px;
    position: absolute;
    bottom: -29px;
    background-color: rgba(255,255,255,.5);
    z-index: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.crypt-dark .footer-bar-contain .footer-bar-flat h3, .crypt-dark .footer-bar-contain .footer-bar-flat button {
    color: #3a505f;
}
.footer.footer-bar-area {
    margin-top: 100px;
}
.footer-bar-contain .footer-bar-flat {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 30px;
}
.footer-bar-contain .footer-bar-flat-button {
    display: flex;
    margin-left: auto;
}
.footer-bar-contain .footer-bar-flat h3 {
    font-size: 28px;
    font-weight: lighter;
}
.crypt-dark .footer.footer-bar {
    color: #adb5bd;
}
.crypt-dark .footer {
    background: rgb(32 43 72 / 1);
}
.anim-b-line:after {
    content: "";
    opacity: 0;
}
.anim-b-line:hover, .anim-bi-line:hover .anim-b-line {
    position: relative;
    text-decoration: none;
}
.anim-b-line:hover:after, .anim-bi-line:hover .anim-b-line:after {
    width: 100%;
    height: 2px;
    border-radius: 20px;
    position: absolute;
    bottom: 5px;
    left: 0;
    transform: translateY(10px);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.crypt-dark .anim-b-line:hover:after, .crypt-dark .anim-bi-line:hover .anim-b-line:after {
    background-color: #fff;
}
@media (min-width: 576px) and (max-width: 768px) {
    .pt-sm3d {
        padding-top: 1.333rem !important;
    }
}
@media (max-width: 768px) {
    .footer-bar-contain .footer-bar-flat {
        padding: 0 !important;
    }
    .menu-toggle.open ~ .mobile-menu {
        position: relative;
        display: block !important;
        transform: translateX(100%);
    }
    .crypt-dark .mobile-menu {
        background-color: #202942;
        border-top: 1px solid #283353;
        border-bottom: 1px solid #283353;
    }
    .mobile-menu {
        display: block !important;
        padding: 0 25px;
        top: 10px;
        left: -100%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .crypt-bs-separator {
        position: relative;
        width: 100%;
        height: 20px;
        margin: 10px 0;
        border-left: 0;
        border-bottom: 1px solid #2a2e39;
    }
}
.font-poppin {
    font-family: 'Poppins',sans-serif !important;
}
.cryptradefull .container-full-width {
    margin-left: -5px;
    padding: 0;
}
.cryptradefull .container-full-width.crypt-container > .row {
    margin-left: 3px;
    margin-right: -7px;
}
.cryptradefull .crypt-header > .container-full-width.crypt-container > .row {
    margin-left: -15px;
    margin-right: -25px;
}
.crypt-dark.cryptradefull .crypt-market-status, .crypt-dark.cryptradefull .crypt-gross-market-cap {
    border: 1px solid #2a2e39cf;
}
.cryptradefull .container-full-width.crypt-container {
    margin-top: -10px;
}
.cryptradefull .crypt-header > .container-full-width.crypt-container {
    margin-top: 0;
}
.crypt-dark.cryptradefull .crypt-header {
    background: #13171b;
}
.crypt-dark.cryptradefull .crypt-gross-market-cap {
    margin: 0;
}
.cryptradefull .container-full-width.crypt-container .sm-gutters>[class*=col-] {
    padding: 0 1px;
}
.divider {
    position: relative;
    border: 0;
    width: 100%;
    overflow: visible;
    padding: 0;
    margin: 0;
}
.divider-fade:before {
    content: '';
    display: block;
    width: 80%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background: radial-gradient(ellipse at center,#d1dbe7 0,rgba(255,255,255,0) 75%);
}
.divider-fade.divider-dark:before {
    background: radial-gradient(ellipse at center,rgba(255,255,255,.2) 0,rgba(31,45,61,0) 75%);
}

.p{
  color: #555a69;
}