<div class="container pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="text-center pt-5 pb-5">
        <h3 class="p-5">Welcome to CryptoEX</h3>
        <div class="crypt-form shadow-lg rounded p-5 mt-3">
          <div class="crypt-form-top text-center">
            <div>
              <h5>Log in</h5>
              <div class="info-text">
                <p>Please check that you are visiting the correct URL</p>
              </div>
              <div class="safeURL">
                <img src="../../../../assets/images/lock.svg" alt="Safe URL">
                <span>https:</span><span>//auth.cryptoex.com</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <label class="form-label" for="login1-email">Email or AccountID</label>
              <a class="right-text" href="#">Need Help?</a>
            </div>
            <input type="text" class="form-control" [(ngModel)]="email" name="email" id="login1-email">
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <label class="form-label" for="login1-password">Password</label>
              <a class="right-text" href="forgot.html">Forgot Password?</a>
            </div>
            <div class="form-control-wrap">
              <input type="password" [(ngModel)]="password" class="form-control" id="login1-password">
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-lg btn-green btn-block mt-2" (click)="loginPage()">Sign in</button>
          </div>

          <div class="float-right form-itext">
            <span class="pr-1">Not on our platform yet?</span><a routerLink="/auth/register">Register</a>
          </div>

          <div class="align-center col-12">
            <div class="row justify-content-center">
              <div class="col-12" id="googleID">
                <!-- Google ID content here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
