<div class="chat_window">
    <div class="top_menu">
      <div class="buttons">
        <div class="button close"></div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div>
      <div class="title">
        <img src="../../../../assets/images/whatsapp-icon.png" width="25px" height="25px">
        WhatsApp
      </div>
    </div>
    <ul class="messages">
      <li class="message right" *ngFor="let item of messageList"
      [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side === 'sender'}"
      >
        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text">{{item.message}}</div>
        </div>
      </li>
    </ul>
    <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <input class="message_input" placeholder="Message..." [(ngModel)]="messageInput" 
        (keyup.enter)="sendMessage()"/>
      </div>
      <div class="send_message" (click)="sendMessage()">
        <div class="icon"></div>
        <div class="text">Send</div>
      </div>
    </div>
  </div>